body {
    background-color: #2A3452;
    color: #333333;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }

  /*Landing*/
  #landing-title{
    font-size: 85px !important;
  }
  #landing-info{
    font-size: 40px !important;
    display: inline-block !important;
  }

  .fa-greater-than-equal,.fa-less-than-equal{
    color: #FF4481 !important;
  
  }

  /*Landing*/
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  .subject-item{
    background-color: #1E2740 !important;
    color: #F975A0 !important; 
    margin-bottom: 12px;

  }
  .subject-item a{
    color: #F975A0 !important; 
    font-size: 20px;
  }

  .subject-item:hover{
    background-color: #2A3452 !important;
    color: #FFF !important;
  }

  .content-section {
  
    background: #ffffff;
    width: 40% !important;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px#171F38;
  }

  .content-section-questions {
    text-align: center !important;
    font-size: 12px !important;
    
    border: 1px solid #dddddd;
    border-radius: 1px;
    margin-right: 4px;

    box-shadow: 10px 10px 10px#171F38;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
  }
  .table{
    margin: 0px auto !important;
    background-color: #171F38!important;
  }
  .wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }
  
  .tablewrap{
    position: relative;
    height: 73vh;
    width: 100%;
    overflow-y: scroll;
    
  }
  #course-card{
    color:white !important;
    background-color: #171F38;
    border-radius: 1rem;
  }
  #course-card:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
  }
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  .default-tabs a{
    color: #FF4481 !important;
    padding: 3px !important;

  }

  .default-tabs a:hover{
    color: #FF4481 !important;
    background-color: white;
  }
  .default-tabs .nav-link{
    
    background-color: white;
  }

  .check{
    height: 100vh !important;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  .content-section{
    margin-top: 20px;
    background-color: #2A3452;
    color: #FF4481;
  }
  .content-section button{
    color: #FFF;
    border-color: #0000;
    background-color: #FF4481;
  }
  .content-section a{
    color: #FF4481;
  }
  .content-section button:hover{
    
    background-color: #FF4481;
  }

  .stats{
    box-shadow: 2px 2px 2px solid grey !important;
    border-radius: 1px solid;
    border-style: solid;
    opacity: 25%;

  }

  /* .chart-display{
    
  } */
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .mod-title{
    color: #FF4481 !important;
  }
  nav{
    background-color: #171F38 !important;
    padding: 0 !important;
  }
  .custom-toggler.navbar-toggler {
    border-color: #FF4481;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,68,129, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#menu a{
  text-decoration: none;
}

.side-nav ul{
  padding: 0;
}

.side-nav ul li {
  padding: 10px 10px;
  list-style-type: none;
    
}

.quest-list{
  overflow-y: scroll;
  height: 400px !important;
  width: 100% !important;

}

.side-nav{
  position: fixed;
  float: left;
  width: 225px;
  min-height: 100vh;
  background-color: #171F38;
  text-decoration: none;
  margin-right: 0;
    
  }
  .side-nav ul li a {
    color: #FFFF;
    text-decoration: none !important;
    margin-top: 15px;
    font-size: 24px;
    
  }

  .side-nav ul li:hover{
    background-color: #FF4481;
    visibility: visible;
  }
 
  .side-nav ul li a i {
    color: #FFF;
    text-align: center;
  }
  #logo{
    padding-right: 17px;
    padding-left: 5px;
  }

  .course-sect{
    height: 50vh !important;
    color: #FF4481;
    background-color: #171F38 !important;
    overflow-y: hidden;
  }
  .course-sect-main{
    height: 70vh !important;
    color: #cbd5db !important;
    background-color: #171F38 !important;
    overflow-y: auto;
    border: 1px solid #171F38 !important;
    border-radius: 1rem;
  }

  .default-tabs li a:active{
    color: black !important;
  }

  @media only screen and (max-width: 600px){
    .side-nav{
      visibility: hidden;
    }
    .main-content{
      padding-left: 0 !important;
    }
    .content-section-questions{
      margin: 0 auto !important;
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: 950px){
    .content-section-questions{
      margin: 0 auto !important;
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: 760px){
    .side-nav{
      visibility: hidden;
    }
    .main-content{
      padding-left: 0 !important;
    }
    .content-section-questions{
      margin-top: 5px;
      margin: 0 auto !important;
    }
  }

.main-content{
  padding-left: 246px;
}

.dropdown-item{
  color: #FFFFFF !important;
}
.dropdown-item:hover{
  background-color: #FF4481 !important;
}

.side-nav ul li .dropdown-menu{
  background-color: #2A3452 !important;
}