{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<script>

var answers = [];
</script>
<!--Quiz Opening-->
<div class="row justify-content-center">
    <div class="col-12">
        <div id="start-menu" class="content-section mx-auto animated fadeInLeftBig slow">    
            {% for quiz in quiz%}
                <h2 class="">{{quiz.title}}</h2>
                <legend class="text-muted">Ready to start?</legend>
                <button id="start" name="start" class="btn btn-secondary animated infinite tada slower mr-3">Start</button>
                <button  class="btn btn-danger">Quit</button>
            {% endfor%}

        </div>
        <!--RANDOM NUM BETWEEN 1 and 4 TO PLACE IT-->

        
        <div class="active-quiz d-none">
                <h2 class="quest text-center"></h2>
            <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice"  type="radio" id='choice0' value=""aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans0 form-control" aria-label="Text input with radio button"></label>
                    </div>
            </div>
                <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice"  type="radio" id='choice1' aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans1 form-control disab" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice" type="radio"  id='choice2' aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans2 form-control" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice" type="radio"  id='choice3' aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans3 form-control" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice" type="radio"  id='choice4' aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans4 form-control" aria-label="Text input with radio button"></label>
                    </div>
                    
                </div>
                <button id="next" class="btn btn-secondary">Next</button>
    </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
    var results =[];
    var answers = [];
    var incorrect =[];
    var x = 0;
    var wrong_select = [];

(function($) {

$.fn.randomize = function(childElem) {
  return this.each(function() {
      var $this = $(this);
      var elems = $this.children(childElem);

      elems.sort(function() { return (Math.round(Math.random())-0.5); });  

      $this.remove(childElem);  

      for(var i=0; i < elems.length; i++)
        $this.append(elems[i]);      

  });    
}
})(jQuery)


$(document).ready(function(){
    var vals;
    var correct;
    var weightings;
    var right = [];

    $(document).on("click", '#start', function(){ $('#start-menu').addClass("animated fadeOutLeft slow"); $('.active-quiz').removeClass('d-none').addClass("animated fadeInLeft slow mx-auto");
        
        const url = window.location.href
        $.ajax({
            url: "{% url 'get-question' %}",
            method: "GET",
            async: true,
            dataType: "json",
            success: function(data){
                
                for(var i =0; i < data.length; i++){

                    results.push(data[i].fields.question);
                    answers.push(data[i].fields.correct_answer);
                    incorrect.push({
                                    quest: data[i].fields.question,
                                    incorrect_1: data[i].fields.incorrect_answer_1,
                                    incorrect_2: data[i].fields.incorrect_answer_2,
                                    incorrect_3: data[i].fields.incorrect_answer_3,
                                    incorrect_4: data[i].fields.incorrect_answer_4,
                                    correct: data[i].fields.correct_answer,
                                    weighting: data[i].fields.weighting,
                                    });
                }
                $('#start').unbind("click");

                gerrt(x);
                
                },
                error: function(errorData){console.log("error:" + errorData); }
            })
         });

        $(document).on("click","#next", function(){
                x++;
                if(vals == correct){
                    right.push(weightings);
                    console.log("vals:" + vals + " " + "Correct answ:" + correct);}
                    console.log(typeof(weightings));

                if (x >= incorrect.length){
                    let sum = 0;
                    $.each(right, function(){sum+=parseInt(this) || 0;});
                    console.log("sum:" + sum);
                    
                    $('.quest').empty();
                    $('.quest').html("quiz finished");
                    $('#next').addClass("disabled").prop('diabled',true);
                    console.log("final score:" + right.length);
                    console.log(right);
                    }
                else{ $("input[type='radio']").prop('checked', false); gerrt(x); }
                

            });

        });


function gerrt(x){

    $("div.active-quiz").randomize("div.choice");console.log(incorrect);

    $('.ans0').html(incorrect[x].incorrect_1);
    $('.ans1').html(incorrect[x].incorrect_2);
    $('.ans2').html(incorrect[x].incorrect_3);
    $('.ans3').html(incorrect[x].incorrect_4);
    $('.ans4').html(incorrect[x].correct);

    $('#choice0').val(incorrect[x].incorrect_1);
    $('#choice1').val(incorrect[x].incorrect_2);
    $('#choice2').val(incorrect[x].incorrect_3);
    $('#choice3').val(incorrect[x].incorrect_4);
    $('#choice4').val(incorrect[x].correct);

    $('.quest').empty();
    $('.quest').html(results[x]);
    $('.lbl').html(answers[x]);
    
}

$('input[type="radio"]').click(function(){
    if($(this).is(":checked")){
        vals = $(this).val();
        correct = incorrect[x].correct;
        weightings = parseInt(incorrect[x].weighting);
        console.log("vals:" + vals + "Correct:" + correct + "Weighting:" + weighting);
        console.log(typeof(vals) + "vs" + "" + typeof(correct));
    }
    else if($(this).is(":not(:checked)")){vals = $(this).val();}});


    
    </script>



{% endblock %}

