{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<script>

var answers = [];
</script>
<!--Quiz Opening-->
<div class="row justify-content-center">
    <div class="col-12">
        <div id="start-menu" class="content-section mx-auto animated fadeInLeftBig slow">    
            {% for quiz in quiz%}
                <h2 class="">{{quiz.title}}</h2>
                <legend class="text-muted">Ready to start?</legend>
                <button id="start" name="start" class="btn btn-secondary animated infinite tada slower mr-3">Start</button>
                <button  class="btn btn-danger">Quit</button>
            {% endfor%}
        </div>
        <!--RANDOM NUM BETWEEN 1 and 4 TO PLACE IT-->

        
        <div class="active-quiz d-none">
                <h2 class="quest text-center"></h2>
            <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice0" type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans0 form-control" aria-label="Text input with radio button"></label>
                    </div>
            </div>
                <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice1" type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans1 form-control disab" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice2" type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans2 form-control" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice3" type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans3 form-control" aria-label="Text input with radio button"></label>
                    </div>
                </div>
                <div class="choice">
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input name="choice4" type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <label type="text" class="ans4 form-control" aria-label="Text input with radio button"></label>
                    </div>
                    
                </div>
                <button id="next" class="btn btn-secondary">Next</button>
                
        
        
    </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script>
    var results =[];
    var answers = [];
    var incorrect =[];
    var x = 0;

(function($) {

$.fn.randomize = function(childElem) {
  return this.each(function() {
      var $this = $(this);
      var elems = $this.children(childElem);

      elems.sort(function() { return (Math.round(Math.random())-0.5); });  

      $this.remove(childElem);  

      for(var i=0; i < elems.length; i++)
        $this.append(elems[i]);      

  });    
}
})(jQuery)


$(document).ready(function(){
    const url = window.location.href
    $.ajax({
        url: url,
        method: "GET",
        dataType: "json",
        success: function(data){
            
            for(var i =0; i < data.length; i++){

                results.push(data[i].fields.question);
                answers.push(data[i].fields.correct_answer);
                incorrect.push({
                                quest: data[i].fields.question,
                                incorrect_1: data[i].fields.incorrect_answer_1,
                                incorrect_2: data[i].fields.incorrect_answer_2,
                                incorrect_3: data[i].fields.incorrect_answer_3,
                                incorrect_4: data[i].fields.incorrect_answer_4,
                                correct: data[i].fields.correct_answer,
                                });
            }
            gerrt(x);
            //console.log(incorrect);
            
            },
            error: function(errorData){
                console.log("error");

            }
        })

        $(document).on("click", '#start', function(){ $('#start-menu').addClass("animated fadeOutLeft slow"); $('.active-quiz').removeClass('d-none').addClass("animated fadeInLeft slow mx-auto"); });

            $(document).on("click","#next", function(){
                x++;
                if (x >= incorrect.length){
                    //alert("triggered");
                    $('.quest').empty();
                    $('.quest').html("quiz finished");
                    $('#next').addClass("disabled").prop('diabled',true);
                    }
                else{
                        gerrt(x);
                    }
                

            });

        });


function gerrt(x){

    $("div.active-quiz").randomize("div.choice");

    $('.ans0').val(incorrect[x].incorrect_1).html(incorrect[x].incorrect_1);
    $('.ans1').val(incorrect[x].incorrect_2).html(incorrect[x].incorrect_2);
    $('.ans2').val(incorrect[x].incorrect_3).html(incorrect[x].incorrect_3);
    $('.ans3').val(incorrect[x].incorrect_4).html(incorrect[x].incorrect_4);
    $('.ans4').val(incorrect[x].correct).html(incorrect[x].correct);

    var ele = $('.member1'); 

    $('.quest').empty();
    $('.quest').html(results[x]);
    $('.lbl').html(answers[x]);
    
}


    
    </script>



{% endblock %}

