{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <p> yehw</p>
</div>
{% endblock content %}



<div class="col-2 p-0">
        <div class="side-nav">
          <ul>
            <li>
                <a href="{%url 'dashboard-home'%}">
                  <span><i class="fas fa-home"></i></span>
                  <span class="">Dashboard</span> 
                </a>
            </li>
            <li>
                <a href="#">
                  <span><i class="fas fa-tools"></i></span>
                  <span>Tools</span> 
                </a>
            </li>
            <li>
                <a href="#">
                  <span><i class="fas fa-pen"></i></span>
                  <span>Quiz</span> 
                </a>
            </li>
            <li>
                <a href="#">
                  <span><i class="fas fa-user-graduate"></i></span>
                  <span>Statistics</span> 
                </a>
            </li>
          </ul>
      </div>
  </div>