{% extends "dashboard/base.html" %}


{% block content %}

<div class="row justify-content-center">
  <div class="col-8 mt-2 text-center">
      <legend class="text-center">Courses</legend>
      <p class="text-center text-muted">My Courses</p>
  </div><!--End of Column-->
</div><!--End of Row-->


<div class="row justify-content-center">

  <div class="col-sm-4 course-sect m-2">
    <legend class="text-center">Available Subjects</legend>

    {% for subjects in subjects %}
    <div id="subject-hover" class="subject-item text-center p-3"><a href="{% url 'view-courses' subject=subjects.0 %}">{{subjects.0}}</a></div>
    {% endfor %}

  </div>
  <div class="col-sm-4 course-sect m-2">
    <legend class="text-center">My Courses</legend>
    {% for courses in my_published %}
    <div id="subject-hover" class="subject-item text-center p-3"><a class="p-4"href="{% url 'view-this-course' course_pk=courses.id %}">{{courses}}</a></div>
    {% endfor %}
  </div>
</div>



{% endblock content %}